root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4

[{*.cpp,*.hpp}]
cpp_indent_braces = false
cpp_indent_multi_line_relative_to = innermost_parenthesis
cpp_indent_within_parentheses = indent
cpp_indent_preserve_within_parentheses = true
cpp_indent_case_labels = true
cpp_indent_case_contents = true
cpp_indent_case_contents_when_block = false
cpp_indent_lambda_braces_when_parameter = true
cpp_indent_goto_labels = one_left
cpp_indent_preprocessor = leftmost_column
cpp_indent_access_specifiers = false
cpp_indent_namespace_contents = true
cpp_indent_preserve_comments = true
cpp_new_line_before_open_brace_namespace = ignore
cpp_new_line_before_open_brace_type = ignore
cpp_new_line_before_open_brace_function = ignore
cpp_new_line_before_open_brace_block = ignore
cpp_new_line_before_open_brace_lambda = ignore
cpp_space_within_parentheses = remove
cpp_space_before_parentheses = remove
cpp_space_within_empty_parentheses = remove
cpp_space_between_empty_square_brackets = remove
cpp_space_within_square_brackets = remove
cpp_space_in_lambda_square_brackets = remove
cpp_space_before_comma = remove
cpp_space_after_comma = insert
cpp_space_remove_around_member_operators = false
cpp_space_before_and_after_binary_operators = insert
cpp_space_around_assignment_operators = insert
cpp_space_pointer_reference_alignment = right
cpp_space_around_ternary_operator = insert
cpp_wrap_preserve_blocks = one_line
